@media screen and (max-width: 768px) {
  body {
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .webimage {
    display: none;
  }
  .navtext {
    display: none;
  }

  .logo {
    color: white;
  }

  .navbar {
    justify-content: center;
  }

  a.login {
    color: white;
  }

  .signin {
    background-color: white;
    color: black;
  }

  .title1 {
    display: flex;
    margin: auto;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 38px;
    text-align: center;
  }

  p {
    display: flex;
    text-align: center;
    font-size: 25px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .second-container {
    color: rgb(255, 255, 255);
  }

  .textcontainer {
    color: aliceblue;
  }

  .started {
    color: black;
    background-color: white;
  }

  p.free {
    color: white;
  }
}
